* {
	font-family: sans-serif;
}

main {
	width: 80%;
}


.answers {
	background-color: gray;
	width: 100px;
	text-align: center;
	padding: 8px;
	display: inline-block;
	margin: 10px;
	font-size: 12px;
}

.answers:hover {
	border: solid gray 2px;
	background-color: white;
}

.chosen-answer {

	width: 100px;
	text-align: center;
	padding: 8px;
	display: inline-block;
	margin: 10px;
	font-size: 12px;
	border: solid gray 2px;
	background-color: white;
}

#confirm-answer, .start-button {
	display: block;
	color: white;
	font-weight: bold;
	background-color: green;
	width: 100px;
	text-align: center;
	padding: 8px;
	margin: 10px;
	font-size: 12px;

}